<div class="minigame-contaienr">
  <div id="minigame">
  </div>
  <div
    class="close-button"
    *ngIf="!isHideHud"
    (click)="closeGame()"
  ></div>

  <div
    class="hud-minigame"
    [class.hide]="isHideHud"
    [ngClass]="activeHudTemplate"
  >
    <loading
      [customLogicShow]="!isGameLoaded"
      [showAlways]="true"
      [classNames]="['white']"
      [size]="'big'"
    ></loading>

    <loading
      [classNames]="['white']"
      [size]="'big'"
    ></loading>

    <ng-container [ngSwitch]="activeHudTemplate" *ngIf="isGameLoaded">
      <ng-container
        *ngSwitchCase="HUD_TEMPLATES.WELCOME"
        [ngTemplateOutlet]="hudWelcomeTpl"
      ></ng-container>

      <ng-container
        *ngSwitchCase="HUD_TEMPLATES.SELECT_GAME"
        [ngTemplateOutlet]="hudSelectGameTpl"
      ></ng-container>

      <ng-container
        *ngSwitchCase="HUD_TEMPLATES.SELECT_GAME_GIFT"
        [ngTemplateOutlet]="hudSelectGameGiftTpl"
      ></ng-container>

      <ng-container
        *ngSwitchCase="HUD_TEMPLATES.RULES_GAME"
        [ngTemplateOutlet]="hudRulesGameTpl"
      ></ng-container>

      <ng-container
        *ngSwitchCase="HUD_TEMPLATES.SCORES_GAME"
        [ngTemplateOutlet]="hudScoresGameTpl"
      ></ng-container>

      <ng-container
        *ngSwitchCase="HUD_TEMPLATES.CONTINUE_GAME"
        [ngTemplateOutlet]="hudContinueGameTpl"
      ></ng-container>

      <ng-container
        *ngSwitchCase="HUD_TEMPLATES.PAUSE_GAME"
        [ngTemplateOutlet]="hudPauseGameTpl"
      ></ng-container>
    </ng-container>
  </div>

  <div class="pause-text" *ngIf="isFeaturePauseEnabled">
    Pauza uruchomi się, gdy aktualnie sortowany element zakończy spadanie!
  </div>
</div>

<!-- WELCOME TEMPLATE -->
<ng-template #hudWelcomeTpl>
  <div class="container loading-opacity">
    <div class="logo"></div>

    <div class="buttons">
      <button
        class="c-long c-quinary"
        (click)="changeTemplate(HUD_TEMPLATES.SELECT_GAME)"
      >
        Graj
      </button>

      <button
        class="c-long c-secondary"
        (click)="changeTemplate(HUD_TEMPLATES.RULES_GAME)"
      >
        Zasady gry
      </button>


      <div
        *ngIf="!isCC"
      >
        <button
          class="c-long c-primary"
          (click)="openWfMinigameRankList()"
        >
          Rankingi prezentowe
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- SELECT GAME TEMPLATE -->
<ng-template #hudSelectGameTpl>
  <button
    class="top left"
    (click)="changeTemplate(HUD_TEMPLATES.WELCOME)"
  >
    <i class="fas fa-angle-left"></i>
  </button>

  <button
    class="top right"
    (mouseover)="isShowTooltipInfo = true"
    (mouseout)="isShowTooltipInfo = false"
  >
    <i class="fas fa-info"></i>
  </button>

  <ng-container [ngTemplateOutlet]="tooltipInfoPrizeTpl"></ng-container>

  <div class="container loading-opacity">
    <div class="game-type" *ngIf="isCC">
      <p class="title">
        Sortuj śmieci <br/> i Ratuj delfiny
      </p>

      <div class="image-container">
        <img [src]="'spot-2.png' | asset:'sorting/ui'"/>

        <div class="box-radius-container">
          {{ productTrashDolphin8001?.balance || 0}}
        </div>
      </div>

      <button
        class="c-long c-quinary"
        (click)="startDolphinGame()"
        [disabled]="!productTrashDolphin8001?.balance"
      >
        Graj
      </button>
    </div>

    <perfect-scrollbar *ngIf="!isCC">
      <div class="game-type">
        <p class="title">
          Sortuj śmieci
        </p>

        <div class="image-container">
          <img [src]="'spot-1.png' | asset:'sorting/ui'"/>

          <div class="box-radius-container">
            {{ productTrash8000?.balance || 0 }}
          </div>
        </div>

        <button
          class="c-long c-quinary"
          (click)="startStandardGame()"
          [disabled]="!productTrash8000?.balance"
        >
          Graj
        </button>
      </div>

      <div class="game-type">
        <p class="title">
          Ratuj delfiny
        </p>

        <div class="image-container">
          <img [src]="'spot-2.png' | asset:'sorting/ui'"/>

          <div class="box-radius-container">
            {{ productTrashDolphin8001?.balance || 0}}
          </div>
        </div>

        <button
          class="c-long c-quinary"
          (click)="startDolphinGame()"
          [disabled]="!productTrashDolphin8001?.balance"
        >
          Graj
        </button>
      </div>

      <div class="game-type">
        <p class="title">
          Graj o prezenty
        </p>

        <div class="image-container">
          <img [src]="'spot-main.png' | asset:'sorting/ui'"/>

          <div class="box-radius-container">
            {{ countProductsGift }}
          </div>
        </div>

        <button
          class="c-long c-primary"
          (click)="changeTemplate(HUD_TEMPLATES.SELECT_GAME_GIFT)"
        >
          Wybierz
        </button>
      </div>
    </perfect-scrollbar>
  </div>
</ng-template>

<!-- SELECT GAME GIFT TEMPLATE -->
<ng-template #hudSelectGameGiftTpl>
  <button
    class="top left"
    (click)="changeTemplate(HUD_TEMPLATES.SELECT_GAME)"
  >
    <i class="fas fa-angle-left"></i>
  </button>

  <button
    class="top right"
    (mouseover)="isShowTooltipInfo = true"
    (mouseout)="isShowTooltipInfo = false"
  >
    <i class="fas fa-info"></i>
  </button>

  <ng-container [ngTemplateOutlet]="tooltipInfoPrizeTpl"></ng-container>

  <div class="container loading-opacity">
    <perfect-scrollbar>
      <div
        *ngFor="let productGift of productGiftBalances"
        class="game-type"
      >
        <p class="title">
          {{ productGift.name }}
        </p>

        <div class="image-container">
          <img [src]="(productGift.icon + '.png') | asset:'sorting/ui'"/>

          <div class="box-radius-container">
            {{ productGift.balance }}
          </div>

          <i
            (click)="openProductInfo(productGift.description)"
            class="fa fa-info-circle"
          ></i>

          <div
            class="gift-catched-container"
            [matTooltip]="'Złapane prezenty'"
            [matTooltipPosition]="'left'"
          >
            <img [src]="'gift.png' | asset:'sorting/boards'"/>

            {{ productGift.balancePlus100 }}
          </div>
        </div>

        <button
          class="c-long c-quinary"
          (click)="startGiftGame(productGift.product_id)"
          [disabled]="productGift.balance <= 0"
        >
          Graj
        </button>
      </div>
    </perfect-scrollbar>
  </div>
</ng-template>

<!-- RULES GAME TEMPLATE -->
<ng-template #hudRulesGameTpl>
  <button
    class="top left"
    (click)="changeTemplate(HUD_TEMPLATES.WELCOME)"
  >
    <i class="fas fa-angle-left"></i>
  </button>

  <div class="container">
    <perfect-scrollbar>
      <ul>
        <li>1. Wyławiaj ławice śmieci z wód Morza Śródziemnego i sortuj ich zawartość w grze Eko Sort</li>
        <li>2. W każdej rozgrywce masz 90 sekund na zdobycie jak największej liczby punktów za prawidłowe sortowanie
          zawartości ławicy śmieci
        </li>
        <li>3. Kieruj spadającymi przedmiotami za pomocą strzałek na klawiaturze</li>
        <li>4. Umieszczaj odpady w odpowiednich pojemnikach, delfiny w bezpiecznym basenie
        </li>
        <li>5. Wyrzucaj spadające bomby za burtę, kierując je w wolne przestrzenie omijając wszystkie rodzaje
          pojemników. Za każdą bombę wrzuconą do pojemników lub basenu tracisz aż 2 życia!
        </li>
        <li>6. W trakcie rozgrywki możesz popełnić maksymalnie 5 błędów, po każdym stracisz jedno z 5 żyć. Za każde
          zachowane
          życie otrzymasz bonusowe punkty
        </li>
        <li>7. Osiągnij jeden z premiowanych progów (szczegóły w sekcji Info w oknie startowym gry EKO Sort) i zdobywaj
          Eko Talary, które wykorzystasz do rozgrywki finałowej
        </li>
        <li>8. Pauzuj grę, używając przycisku spacji. Pauza uruchomi się, dopiero gry zakończy się spadanie aktualnie
          sortowanego elementu.
        </li>
        <li *ngIf="!isCC">9. W specjalnych grach konkursowych kieruj spadające prezenty do drewnianej skrzyni. Każdy
          złapany prezent
          to przepustka do udziału w konkursie oraz szansa na zdobycie nagrody rzeczowej. Im więcej złapiesz prezentów,
          tym większe będą Twoje szanse na zwycięstwo. Kryteria wyłaniania zwycięzców będą określane dla każdego
          konkursu w dedykowanej wiadomości.
        </li>
      </ul>
    </perfect-scrollbar>
  </div>
</ng-template>

<!-- SCORES GAME TEMPLATE -->
<ng-template #hudScoresGameTpl>
  <button
    class="top right"
    (mouseover)="isShowTooltipInfo = true"
    (mouseout)="isShowTooltipInfo = false"
  >
    <i class="fas fa-info"></i>
  </button>

  <ng-container [ngTemplateOutlet]="tooltipInfoPrizeTpl"></ng-container>

  <div class="container loading-opacity">
    <div class="normal-size reason">
      {{ scores.reasonEndGame || ' ' }}
    </div>


    <div class="normal-size">
      <table>
        <tr>
          <td>
            <div class="flex">
              {{ scores.standardTrashesCatched }} x

              <img
                class="eco"
                [src]="'recycling.png' | asset:'ui'"
              />
            </div>
          </td>
          <td>
            =
          </td>
          <td>
            <div class="flex">
              {{ scoresCalculated.standardTrashesCatched }}
              <img [src]="'cash-eco-small.png' | asset:'ui'"/>
            </div>
          </td>
        </tr>

        <tr *ngIf="scores.playerLifes > 0">
          <td>
            <div class="flex">
              {{ scores.playerLifes }} x

              <img
                class="live"
                [src]="'heart.png' | asset:'sorting/boards'"
              />
            </div>
          </td>
          <td>
            =
          </td>
          <td>
            <div class="flex">
              {{ scoresCalculated.playerLifes }}
              <img [src]="'cash-eco-small.png' | asset:'ui'"/>
            </div>
          </td>
        </tr>

        <tr *ngIf="scores.playerDolphinsCatched > 0">
          <td>
            <div class="flex">
              {{ scores.playerDolphinsCatched }} x

              <img
                class="dolphin"
                [src]="'dolphin.png' | asset:'sorting/boards'"
              />
            </div>
          </td>
          <td>
            =
          </td>
          <td>
            <div class="flex">
              {{ scoresCalculated.playerDolphinsCatched }}
              <img [src]="'cash-eco-small.png' | asset:'ui'"/>
            </div>
          </td>
        </tr>

        <tr *ngIf="scores.giftCatched > 0">
          <td>
            <div class="flex">
              {{ scores.giftCatched }} x

              <img
                class="gift"
                [src]="'gift.png' | asset:'sorting/boards'"
              />
            </div>
          </td>
          <td>
            =
          </td>
          <td>
            <div class="flex">
              {{ scoresCalculated.giftCatched }}
              <img [src]="'cash-eco-small.png' | asset:'ui'"/>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="separator"></div>

    <div>
      <div class="normal-size">
        EKO TALARY
      </div>

      <div class="big-size">
        {{ scoresCalculated.totalPrize }}
        <img [src]="'cash-eco.png' | asset:'currency/basic'"/>
      </div>
    </div>

    <span
      class="link"
      (click)="resetGame()"
    >
      Menu Główne
    </span>
  </div>
</ng-template>

<!-- CONTINUE GAME TEMPLATE -->
<ng-template #hudContinueGameTpl>
  <div class="container loading-opacity">
    <div class="game-type">
      <p class="title">
        Masz rozpoczętą grę
      </p>

      <button
        class="c-long c-quinary"
        (click)="continueGame()"
      >
        Kontynuuj grę
      </button>
    </div>
  </div>
</ng-template>

<!-- PAUSE GAME TEMPLATE -->
<ng-template #hudPauseGameTpl>
  <div class="container loading-opacity">
    <div class="game-type">
      <p class="title">
        Pauza aktywna
      </p>

      <button
        class="c-long c-quinary"
        (click)="resumeGame()"
      >
        Kontynuuj grę
      </button>
    </div>
  </div>
</ng-template>

<!-- TOOLTIP INFO PRIZE TEMPLATE -->
<ng-template #tooltipInfoPrizeTpl>
  <div
    class="tooltip-info"
    [class.show]="isShowTooltipInfo"
  >
    <div class="each-element eco">
      <img class="eco" [src]="'recycling.png' | asset:'ui'"/>
      = {{ ECO_PKT }}
      <img [src]="'cash-eco-small.png' | asset:'ui'"/>
    </div>

    <div class="each-element dolphin">
      <img class="dolphin" [src]="'dolphin.png' | asset:'sorting/boards'"/>
      = {{ DOLPHIN_PKT }}
      <img [src]="'cash-eco-small.png' | asset:'ui'"/>
    </div>

    <div class="each-element live">
      <img class="live" [src]="'heart.png' | asset:'sorting/boards'"/>
      = {{ LIVE_PKT }}
      <img [src]="'cash-eco-small.png' | asset:'ui'"/>
    </div>

    <div
      *ngIf="!isCC"
      class="each-element gift"
    >
      <img class="gift" [src]="'gift.png' | asset:'sorting/boards'"/>
      = {{ GIFT_PKT }}
      <img [src]="'cash-eco-small.png' | asset:'ui'"/>
    </div>
  </div>
</ng-template>

