.game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    '. .'
    '. .';

  app-test-game,
  app-game {
    max-width: 45vw;
    canvas {
      max-width: 100%;
    }
  }
}
